@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

:root {
  --clr-1: #dff9fb;
  --clr-2: #596275;
  --clr-3: #5758bb;
  --clr-4: #ed4c67;
  --clr-5: #c4e538;
  --clr-white: white;
  --clr-black: black;
  --main-font: 'Noto Serif', serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-1);
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  color: #596275;
  position: relative;
}

.section {
  margin: 2rem 0rem;
  padding: 4rem 8rem;
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  text-align: center;

  &__alert {
    margin-bottom: 0.3rem;
  }

  &__alert-success {
    color: greenyellow;
  }

  &__alert-error {
    color: red;
  }

  &__heading {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }

  &__form {
    margin-bottom: 0.4rem;
  }

  &__input {
    font-family: inherit;
    color: inherit;
    padding: 0.1rem 0.4rem;
    width: 20rem;
    border-radius: 4.2rem;
    font-size: 1rem;
    outline: none;
  }

  &__button {
    font-family: inherit;
    color: inherit;
    padding: 0.1rem 0.4rem;
    margin-top: 0.4rem;
  }

  &__items {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--item {
      display: flex;
      margin-bottom: 0.3rem;
      background-color: var(--clr-3);
      padding: 0.2rem 1rem;
      align-items: center;
      border-radius: 4.2rem;
      color: var(--clr-black);
      font-size: 1rem;
      width: 100%;

      &--edit {
        justify-self: flex-end;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        outline: none;
        border: none;
        &--icon1 {
          font-size: 1.2rem;
          color: var(--clr-4);
          cursor: pointer;
        }
      }

      &--remove {
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.1rem;
        background-color: transparent;
        outline: none;
        border: none;
        &--icon2 {
          font-size: 1.2rem;
          color: var(--clr-4);
          cursor: pointer;
        }
      }
    }
  }

  &__deleteBtn {
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    border: none;
    background-color: var(--clr-5);
    border-radius: 5.8rem;
    text-transform: capitalize;
    cursor: pointer;
    &:link,
    &:visited {
      background-color: var(--clr-5);
    }

    &:hover {
      background-color: var(--clr-1);
      transform: translateY(0.2rem);
    }

    &:active {
      color: red;
    }
  }
}

@media screen and (min-width: 17.5em) {
  .section {
    margin: 8rem 0.3rem;
    padding: 2rem 0rem;

    &__input {
      width: 15rem;
      margin-bottom: 0.3rem;
    }

    &__heading {
      font-size: 1.2rem;
    }

    &__alert {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 20em) {
  .section {
    margin: 8rem 0.3rem;
    padding: 2rem 0rem;

    &__input {
      width: 19rem;
      margin-bottom: 0.3rem;
    }

    &__heading {
      font-size: 1.2rem;
    }

    &__alert {
      font-size: 0.8rem;
    }

    &__items {
      &--item {
        width: 97%;
      }
    }
  }
}

@media screen and (min-width: 25.6875em) {
  .section {
    margin: 8rem 0.3rem;
    padding: 2rem 2rem;

    &__input {
      width: 20rem;
    }

    &__heading {
      font-size: 1.4rem;
    }

    &__alert {
      font-size: 0.8rem;
    }

    &__button {
      padding: 0.2rem 0.3rem;
      font-size: 0.8rem;
    }

    &__items {
      &--item {
        width: 97%;
      }
    }
  }
}

@media screen and (min-width: 48em) {
  .section {
    margin: 8rem 0.3rem;
    padding: 2rem 4rem;

    &__input {
      width: 33rem;
      padding: 0.3rem 0.6rem;
      font-size: 1.3rem;
    }

    &__heading {
      font-size: 2.3rem;
    }

    &__alert {
      font-size: 1.5rem;
    }

    &__button {
      padding: 0.2rem 0.3rem;
      font-size: 1.2rem;
    }

    &__items {
      &--item {
        font-size: 1.4rem;

        &--edit {
          &--icon1 {
            font-size: 1.5rem;
          }
        }

        &--remove {
          &--icon2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
